[Desktop Entry]
Name=FreeCAD 26.3
Type=Application
Exec=/home/maxx/freecad/run-freecad-26.3.sh %f
Icon=/home/maxx/freecad/logo-freecad.svg
Terminal=false
Categories=Graphics;Engineering;
MimeType=application/x-extension-fcstd;
